<div class="container">
    <!-- Mystery Books Section -->
    <div class="row mb-4">
        <h2>Solve the Mystery testing3</h2>
        <div id="mysteryCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let group of mysteryBooks | chunk:4; let first = first" [class.active]="first">
                    <div class="row">
                        <div class="col-md-3" *ngFor="let book of group">
                            <div class="book-item" title="Click to open a sample from '{{book.title}}'">
                                <a [href]="book.overdriveUrl" class="bookContent" 
                                   onclick="ga('send', 'event', 'Book Click', 'Solve the mystery', 'The Maid by Nita Prose');">
                                    <img [alt]="book.title" src="/assets/images/{{book.cover}}" class="img-fluid">
                                </a>
                                <br>
                                <button (click)="updateBook(book.id)" class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#mysteryCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#mysteryCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <!-- Vacation Books Section -->
    <div class="row mb-4">
        <h2>Plan Your Vacation</h2>
        <div id="vacationCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let group of vacationBooks | chunk:4; let first = first" [class.active]="first">
                    <div class="row">
                        <div class="col-md-3" *ngFor="let book of group">
                            <div class="book-item" title="Click to open a sample from '{{book.title}}'">
                                <a [href]="book.overdriveUrl" class="bookContent" 
                                   onclick="ga('send', 'event', 'Book Click', 'Plan your vacation', 'The Maid by Nita Prose');">
                                    <img [alt]="book.title" src="/assets/images/{{book.cover}}" class="img-fluid">
                                </a>
                                <br>
                                <button (click)="updateBook(book.id)" class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#vacationCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#vacationCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <!-- Make your millions -->
    <div class="row mb-4">
        <h2>Make your millions</h2>
        <div id="vacationCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let group of makeMillionsBooks | chunk:4; let first = first" [class.active]="first">
                    <div class="row">
                        <div class="col-md-3" *ngFor="let book of group">
                            <div class="book-item" title="Click to open a sample from '{{book.title}}'">
                                <a [href]="book.overdriveUrl" class="bookContent" 
                                   onclick="ga('send', 'event', 'Book Click', 'Plan your vacation', 'The Maid by Nita Prose');">
                                    <img [alt]="book.title" src="/assets/images/{{book.cover}}" class="img-fluid">
                                </a>
                                <br>
                                <button (click)="updateBook(book.id)" class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#vacationCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#vacationCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <!-- Get the facts -->
    <div class="row mb-4">
        <h2>Get the facts</h2>
        <div id="vacationCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let group of getTheFacts | chunk:4; let first = first" [class.active]="first">
                    <div class="row">
                        <div class="col-md-3" *ngFor="let book of group">
                            <div class="book-item" title="Click to open a sample from '{{book.title}}'">
                                <a [href]="book.overdriveUrl" class="bookContent" 
                                   onclick="ga('send', 'event', 'Book Click', 'Plan your vacation', 'The Maid by Nita Prose');">
                                    <img [alt]="book.title" src="/assets/images/{{book.cover}}" class="img-fluid">
                                </a>
                                <br>
                                <button (click)="updateBook(book.id)" class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#vacationCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#vacationCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <!-- Fall in love -->
    <div class="row mb-4">
        <h2>Fall in love</h2>
        <div id="vacationCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let group of fallInLove | chunk:4; let first = first" [class.active]="first">
                    <div class="row">
                        <div class="col-md-3" *ngFor="let book of group">
                            <div class="book-item" title="Click to open a sample from '{{book.title}}'">
                                <a [href]="book.overdriveUrl" class="bookContent" 
                                   onclick="ga('send', 'event', 'Book Click', 'Plan your vacation', 'The Maid by Nita Prose');">
                                    <img [alt]="book.title" src="/assets/images/{{book.cover}}" class="img-fluid">
                                </a>
                                <br>
                                <button (click)="updateBook(book.id)" class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#vacationCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#vacationCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

</div>

