<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <ul class="navbar-nav w-100">
      <li class = "nav-item">
          <a routerLink="books" routerLinkActive="active" class="nav-link" >Home</a>
      </li>
      <li class="nav-item ms-auto">
        <a routerLink="create-book" routerLinkActive="active" class="nav-link" style="color: transparent">Add Book</a>
      </li>
    </ul>
  </div>
</nav>

<h1 class="text-center"> {{title}} </h1>
<div style="text-align: center;">
  <div>
    Try ebooks from <span><b>Toronto Public Library</b></span>. Curated by librarians for your commute.
  </div>
  <br>
  <div>
    Want thousands more? Get a <a href="https://www.torontopubliclibrary.ca/using-the-library/your-library-card/" onclick="ga('send', 'event', 'Link Click', 'Library card', 'https://www.torontopubliclibrary.ca/using-the-library/your-library-card/');"><b>library card</b></a> and <a class="scrollToLibby" href="#libby-section"><b>the Libby app</b></a>.
  </div>
</div>


<div class = "container">
  <router-outlet></router-outlet>
</div>
<footer class = "footer">
  <div class = "container">
      <span>&nbsp;</span>
  </div>
</footer>


<section id="libby-section">
<div id="libby" class="libbyContainer" style="text-align: center; background-color: #D9D9D6;">
  <div class="libbyHeader">
    <h2>Meet Libby</h2>
  </div>
  <div class="textContainer">
    The one-tap reading app from your library.
  </div>
  <div class="libbyIconContainer">
    <div class="libbyMascotContainer imageContainer">
      <img alt="Libby mascot" src="/assets/images/libby-book2.svg" width="100px">
    </div>
    <div class="libbyBookContainer imageContainer">
      <img alt="Libby mascot" src="/assets/images/libby-book.svg" width="100px">
    </div>
  </div>
  <div class="secondaryTextContainer">
    <div>
      Borrow <a href="https://toronto.overdrive.com/?utm_source=TTC%20Reads&amp;utm_medium=link&amp;utm_campaign=thousands_of_ebooks" onclick="ga('send', 'event', 'Link Click', 'Thousands of ebooks and audiobooks', 'https://toronto.overdrive.com/?utm_source=TTC%20Reads&amp;utm_medium=link&amp;utm_campaign=thousands_of_ebooks');">thousands of ebooks and audiobooks</a> for free with your library card.
    </div>
  </div>
  <div class="appStoreIcons">
    <div>
      <a href="https://play.google.com/store/apps/details?id=com.overdrive.mobile.android.libby&amp;hl=en_CA&amp;pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" onclick="ga('send', 'event', 'App Store Click', 'Google Play Store', '');">
        <img alt="Get it on Google Play" class="googlePlayIcon" src="/assets/images/google_play.png" width="230px">
      </a>
    </div>
    <div>
      <a href="https://apps.apple.com/ca/app/libby-by-overdrive/id1076402606" onclick="ga('send', 'event', 'App Store Click', 'iOS Store', '');">
        <img alt="Get it on iOS Store" src="/assets/images/ios_store_icon.svg" width="200px">
      </a>
    </div>
  </div>
</div>
</section>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="height: 60px;">
  <div class="container-fluid">
    <ul class="navbar-nav w-100">
      <li class="nav-item">
        <a href="http://www.tpl.ca" class="nav-link">
          <img alt="tpl Logo" src="/assets/images/tpl.svg" width="150px">
        </a>
      </li>
      <li class="nav-item ms-auto">
        <a href="http://www.ttc.ca" class="nav-link">
          <img alt="tpl Logo" src="/assets/images/ttc.png" width="80px">
        </a>
      </li>
    </ul>
  </div>
</nav>


