<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Create New Book </h3>
            <hr />
            
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> Title</label>
                        <input type="text" class="form-control" id="title" [(ngModel)]="book.title"
                            name="title" style="width: 400px;">
                    </div>

                    <div class="form-group">
                        <label> Overdrive</label>
                        <input type="text" class="form-control" id="overdriveUrl" [(ngModel)]="book.overdriveUrl"
                            name="overdriveUrl">
                    </div>

                    <div class="form-group">
                        <label> carouselId</label>
                        <input type="number" class="form-control" id="carouselId" [(ngModel)]="book.carouselId"
                            name="carouselId" min="1" max="5" required style="width: 80px;">
                    </div>

                    <div class="form-group">
                        <label> orderIndex</label>
                        <input type="number" class="form-control" id="orderIndex" [(ngModel)]="book.orderIndex"
                            name="orderIndex" min="1" max="100" required style="width: 80px;">
                    </div>

                    <div class="form-group">
                        <label> cover</label>
                        <input type="text" class="form-control" id="cover" [(ngModel)]="book.cover"
                            name="cover" style="width: 200px;">
                    </div>

                    <div class="form-group">
                        <label> author</label>
                        <input type="text" class="form-control" id="author" [(ngModel)]="book.author"
                            name="author" style="width: 400px;">
                    </div>

                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>